<header>
    <div class="header-container">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/favourites"><li>Favourites</li></a>
            <a href="/my-recipes"><li>My Recipes</li></a>
        </ul>

        <div class="profile-dropdown">
            <div class="profile-icon" id="profile-btn"> 
                <i class="fa-regular fa-circle-user"></i> 
            </div>
            
            <div class="dropdown-menu" id="dropdown-menu">
                <div class="dropdown-header">
                    <!-- <span id="user-name">John Doe</span> -->
                    <span id="user-email">john@example.com</span>
                </div>
                <hr>
                <a href="/">My Profile</a>
                <hr>
                <button id="logout-btn">Logout</button>
            </div>
        </div>
    </div>
</header>