<header>
    <div class="header-container">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/favourites"><li>Favourites</li></a>
            <a href="/my-recipes"><li>My Recipes</li></a>
        </ul>
    </div>
</header>