<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/user-recipe.css">
</head>
<body>
    <header>
        <div class="header-container">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/favourites"><li>Favourites</li></a>
            </ul>
        </div>
    </header>

    <h1 id="header-text">Add your own Recipe!</h1>


    <section>
        <div class="cards">

        </div>
    </section>


    <script type="module" src="../dist/user-recipe.js"></script>
</body>
</html>