<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/recipe-form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <%- include('partials/header') %>

    <h1 id="header-text">Add your own Recipe</h1>

    <section>
        <div class="cards"></div>
    </section>

    <div class="btn-div">
        <button id="save-btn">Save Recipe</button>
    </div>

    <div class="modal" id="modal">
        <div class="modal-inner">
            <h2 id="error-msg">Recipe Successfully Added!</h2>
             <div class="modal-btn">
                <button id="closeModal">Close</button>
            </div>
        </div>
    </div>

    <script type="module" src="../dist/add-user-recipe.js"></script>
</body>
</html>
