<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/favourites.css">
</head>
<body>

    <header>
        <div class="header-container">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/favourites"><li>Favourites</li></a>
            </ul>

            <div class="add-buttons">
                <button id="search-btn">Search</button>
                <button id="add-btn">Add</button>
            </div>
        </div>
    </header>

    <section>
        <div class="cards">

        </div>
    </section>


    <script type="module" src="../dist/favourites.js"></script>
</body>
</html>