<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<div class="auth-container">

    <h1 id="update-password">Update Your Password</h1>

    <form id="a-form">

        <div class="input-group email-div">
            <label>Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email">
            <p id="code-error" class="error"></p>
            <p id="wait-message"></p>
            <button type="button" id="confirm-btn">Confirm</button>
        </div>

        <div class="reset-code" style="display:none">
            <label for="code-input">Enter code sent to your email:</label>
            <input type="number" id="code-input">
            <p id="otp-error" class="error"></p>
            <button type="button" id="verify-btn">Verify</button>
        </div>

        <div class="password-group1" style="display:none">

            <div class="input-group">
                <label>New Password</label>
                <div class="password-wrapper">
                    <input type="password" id="setNewPassword" placeholder="Enter password">
                    <i class="fa-solid fa-eye toggle-password"></i>
                </div>
                <p id="password-error" class="error"></p>
            </div>

            <div class="input-group">
                <label>Confirm New Password</label>
                <div class="password-wrapper">
                    <input type="password" id="confirmNewPassword" placeholder="Confirm password">
                    <i class="fa-solid fa-eye toggle-password"></i>
                </div>
                <p id="confirm-error" class="error"></p>
            </div>

            <button type="submit" id="save-btn">Save Password</button>

        </div>

        <p id="message"></p>

        <p class="switch">
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </form>

</div>

    <script type="module" src="../dist/auth.js"></script>
</body>
</html>