<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/instructions.css">
</head>
<body>
    <header>
        <div class="header-container">
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/favourites"><li>Favourites</li></a>
                <a href="/my-recipes"><li>My Recipes</li></a>
            </ul>
        </div>
    </header>


    <script type="module" src="../dist/instructions.js"></script>
</body>
</html>