<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/my-recipes.css">
</head>
<body>
   <%- include('partials/header') %>

    <section>
        <div class="cards">
            
        </div>
    </section>


    <script type="module" src="../dist/my-recipes.js"></script>
</body>
</html>