/* body {
    line-height: 0;
} */

body {
    margin-bottom: 50px;
}

.header-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: rgb(167, 167, 167);
    height: 50px;
}

.header-container ul {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.header-container ul li {
    text-decoration: none;
    color: black;
}


.add-buttons {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    width: 300px;
    height: 300px;
}

.right-div {
    background-color: bisque;
    width: 500px;
    height: 300px;
}

.upper-div {
    display: flex;
    justify-content: center;
}

.lower-div {
    background-color: salmon;
    width: 800px;
    height: 100%;
}

.unified-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.food-name {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 18px;
}

.food-origin {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 14px;
}

.food-ingredients {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 16px;
}

.instructions-header {
    margin-top: 15px;
    font-size: 18px;
    margin-left: 17px;
}

.instructions {
    margin-top: 15px;
    margin-left: 17px;
    font-size: 16px;
    margin-right: 3px;
    margin-bottom: 20px;
}

.video-yt {
    margin-left: 10px;
    margin-top: 20px;
}