.header-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: rgb(167, 167, 167);
    height: 50px;
}

.header-container ul {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.header-container ul li {
    text-decoration: none;
    color: black;
}